<!DOCTYPE html>
<html>
  <head>
    <title>Joey's CRM</title>
  </head>
  <body>
    <h1>Welcome to <%= @crm_app_name %>!</h1>
    <p>
      Main menu
    </p>
    <ul>
      <li>
        <a href="/contacts">View all contacts</a>
      </li>
    </ul>
  </body>
</html>
