<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Joey's CRM</title>
    <link type="text/css" rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <header>
      <h1>Bitmaker CRM</h1>
      <p>
        <a href="/contacts">Home</a>
      </p>
      <p>
        <a href="/contacts/new">Add a contact</a>
      </p>
      <p>
        <a href="/about">About</a>
      </p>
    </header>
    <%= yield %>
    <footer>
      <p>
        &copy; Bitmaker 2016
      </p>
    </footer>
  </body>
</html>
