<div class="new_contacts_div">
  <h2 class="contacts_h2">Create new Contact</h1>

  <form class="contacts_form" action='/contacts' method='post'>
    <label for="first_name">First Name: </label>
    <input type='text' id="first_name" name='first_name'>
    <label for="last_name">Last Name: </label>
    <input type='text' id="last_name" name='last_name'>
    <label for="email">Email: </label>
    <input type='email' id="email" name='email'>
    <label for="note">Note: </label>
    <input type='text' id="note" name='note'>
    <input type='submit' value='Add a contact'>
  </form>
</div>
<footer class="contacts_footer">
  <p>
    &copy; Bitmaker 2016
  </p>
</footer>
